header  {
    grid-template-columns: 1fr;
    place-items: center center;
    overflow: hidden;
}
header a {
    padding: 0.5rem 0;
}

nav a {
    padding: 0 1rem;
}

.showcase {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

.showcase article:first-child {
    grid-column: 1/ 2;
    grid-row: 1 / 2;
    height: 40%;
}

.showcase article:last-child {
    display: none;
}

.ads {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.ads img {
    display: none;
}

.popular {
    display: none;
}
